<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{root}}/vwf/view/editorview/css/colorpicker.css" /> 
    <link rel="stylesheet" media="screen" type="text/css" href="{{root}}/vwf/view/editorview/css/bootstrap.min.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{root}}/vwf/view/editorview/css/style.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{root}}/vwf/view/editorview/css/alertify.core.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{root}}/vwf/view/editorview/css/alertify.default.css" />
	<script type="text/javascript" src="{{root}}/js/jquery-1.10.2.min.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
						m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-7086040-12', 'auto');
		ga('send', 'pageview');

	</script>
	<style>
		body{

			overflow: hidden;
			background-image: url(./img/background.png);
			background-size: 2220px;
			background-position-x: 0px;
			opacity: 0;
		}
		
		@media (max-width: 1920px){
			
			.bodypanel
			{
				width:800px;
			}
			.buttonContainer
			{
				width:33%;
			}
		}
		@media (max-width: 800px){
			
			.bodypanel
			{
				width:100%;

			}
			.ActionButtonlabel
			{
				
			}
			.buttonContainer
			{
				width:100%;
			}
			#logo
			{
				zoom:.75;
				
			}
		}
		@media (max-width: 400px){
			#logo
			{
				zoom:.5;
				
			}
		}
		@media (max-width: 270px){
			#logo
			{
				zoom:.35;
				
			}
		}
		@media (max-width: 200px){
			#logo
			{
				zoom:.35;
				
			}
		}
		.bodypanel
		{
			margin:auto;
			
		}
		.buttonContainer
		{
			margin: 0px;
			padding: 0px;
			
			display: inline-block;
		}
		.thinheaderlink
		{
			text-align: center;
			margin: 1em 1em;
			font-weight: bold;
			color: #FFF;
			text-shadow: 1px 1px 5px black;
			
		}

		.thinheader
		{
			text-align: center;
			
		}

	</style>
	<script type="text/javascript" src="{{root}}/js/cookies.js"></script>
	<script type="text/javascript" src="{{root}}/js/jquery.rwdImageMaps.min.js"></script>
	<script type="text/javascript">
	

function center()
	{
		var height = $('#content').height();
				var wheight  = $(window).height();
				$('#content').css('top',Math.max((wheight/2) - (height/2) ,0));
				$('#content').css('position','relative');
				
				

				$(window).resize(function(){

				var height = $('#content').height();
				var wheight  = $(window).height();
				$('#content').css('top',Math.max((wheight/2) - (height/2) ,0));
				$('#content').css('position','relative');

				

				});
				$(window).resize();
	}

	$(document).ready(function(){

		$(".langLi").click(function(){
			var lang = $(this).attr('lang');
			docCookies.setItem('i18next',lang, null, '/', null, null);
			window.location.reload();
		});
		$('img[usemap]').rwdImageMaps();
		center();
		$(document.body).css('opacity','1');
		$(document.body).css('background-position-x','-300px');
		$(document.body).css('transition','opacity 1.5s ease-in, background-position-x 30s');
	})

	</script>
	<!--[if !IE 7]>
	<style type="text/css">
		#wrapper {display:table;height:100%}
	</style>
	<![endif]-->
    <title>Your Priorities Contact</title>
</head>
<body style="overflow:hidden">

<div class='bodypanel'>
    <div class="row">

			<style>
				img[usemap] {
					border: none;
					height: auto;
					max-width: 100%;
					width: auto;
					opacity: 0.95;
				}
			</style>
			
			<div id="infopage">
				<h1>{{#translate}}Choose a neighborhood to chat in{{/translate}}</h1>
				<img border="0" height="477" src="https://betrireykjavik.is/assets/betrihverfi_forsida.png" usemap="#Map" width="670" style="margin-left:auto;margin-right:auto;">
				<map id="Map" name="Map">
					<area alt="Vesturbær" p
								coords="90,271,115,211,113,199,101,210,86,199,91,186,86,183,97,159,92,151,97,140,105,142,109,132,108,129,115,118,108,110,111,102,118,100,139,100,127,62,147,61,147,56,124,53,122,50,103,53,77,81,59,108,3,112,67,232,2,251,3,269"
								href="/contact/vEr0hfFPt2BKziH7" ) shape="poly"></area>
					<area alt="Miðborg"
								coords="182,142,193,113,211,112,212,98,148,98,140,100,116,100,109,109,115,116,107,142,98,140,93,150,98,157,88,182,92,183,88,198,100,207,132,183,164,193,161,196"
								href="/contact/wA5B4tKV9s1bm5dF" ) shape="poly"></area>
					<area alt="Hlíðar"
								coords="182,144,143,235,153,275,143,277,138,284,138,288,155,287,154,314,204,315,226,296,223,256,222,227,240,179,241,153,239,132,200,135"
								href="/contact/44OkXE6gqHdRWAdZ" ) shape="poly"></area>
					<area alt="Háaleiti og Bústaðir"
								coords="241,178,222,229,229,312,259,352,328,352,373,318,366,296,354,288,353,266,346,260,286,239,290,219,296,211,278,186,262,173"
								href="/contact/BKrMaP2rIKKRfVnq" ) shape="poly"></area>
					<area alt="Breiðholt"
								coords="365,333,352,377,351,405,275,409,274,426,353,427,356,456,371,469,395,478,429,451,458,428,463,397,486,357,439,342"
								href="/contact/pNMOH98wPlUFT432" ) shape="poly"></area>
					<area alt="Árbær"
								coords="494,352,483,380,481,418,496,425,514,428,534,412,535,396,523,365,586,359,586,340,528,340,516,302,512,281,379,289,382,307,426,333"
								href="/contact/UHC9bjMM79JtScKc" ) shape="poly"></area>
					<area alt="Grafarvogur"
								coords="496,279,372,288,357,283,381,238,407,220,398,189,390,174,394,165,414,166,443,176,442,139,471,89,452,75,450,59,556,59,603,41,607,52,596,81,548,107,533,172,548,206,532,218,506,217,502,229,488,242,475,240,470,263"
								href="/contact/nbo7sxIqC9zV2knO" ) shape="poly"></area>
					<area alt="Laugardalur"
								coords="348,259,286,239,290,220,297,210,277,183,264,173,242,177,240,130,255,110,249,101,271,86,309,73,340,88,441,87,441,102,352,104,373,130,383,161,387,183,386,205,369,213,365,250"
								href="/contact/TtVVpCAzFMf3e8cT" ) shape="poly"></area>
					<area alt="Grafarholt og Úlfarsárdalur"
								coords="482,255,487,265,504,273,512,282,539,280,543,311,660,309,658,278,592,254,561,239,535,233,506,234"
								href="/contact/XzMXgrSfHBVxtjHM" ) shape="poly"></area>
					<area alt="Kjalarnes"
								coords="609,53,606,65,616,79,619,100,590,116,590,130,664,130,668,86,668,35,627,5,570,4,555,32,559,41,594,30,616,45,625,53"
								href="/contact/4jyEJG1ssKmZ3nH6" ) shape="poly"></area>
				</map>
				<br>
				<div class="hide-for-nothing">
					<a href="/contact/UHC9bjMM79JtScKc">Árbær</a> - <a
								href="/contact/pNMOH98wPlUFT432">Breiðholt</a> - <a
								href="/contact/XzMXgrSfHBVxtjHM">Grafarholt og Úlfarsárdalur</a> - <a
								href="/contact/nbo7sxIqC9zV2knO">Grafarvogur</a> - <a
								href="/contact/BKrMaP2rIKKRfVnq">Háaleiti og Bústaðir</a> - <a
								href="/contact/44OkXE6gqHdRWAdZ">Hlíðar</a> - <a
								href="/contact/4jyEJG1ssKmZ3nH6">Kjalarnes</a> - <a
								href="/contact/TtVVpCAzFMf3e8cT">Laugardalur</a> - <a
								href="/contact/wA5B4tKV9s1bm5dF">Miðborg</a> - <a
								href="/contact/vEr0hfFPt2BKziH7">Vesturbær</a> <br/> <br/>
				</div>
			</div>

			<script type="text/javascript">

			</script>
	</div>

	<div class='thinheader'>
		
		

		{{^sessionData}}
		<a class='thinheaderlink' href='{{root}}/signup'>
			{{#translate}}Sign up{{/translate}}
		</a>
		{{/sessionData}}
		{{#sessionData}}
		<a id='logout' class='thinheaderlink' href='{{root}}/logout'>
			{{#translate}}Log out{{/translate}}
		</a>
		{{/sessionData}}
		{{#sessionData}}
		<a class='thinheaderlink' href='{{root}}/user'>
			{{sessionData.Username}}
		</a>
		{{/sessionData}}
		<!--localization start-->
  	<div class="langLi" lang="en"><a class='thinheaderlink' href="#">English</a></li></div>
		<div class="langLi" lang="is"><a class='thinheaderlink' href="#">Íslenska</a></li></div>
   	</span>

		<!--localization end-->
	</div>				

	<div style='text-align:center;font-size:.75em;color:#999;margin-top:1em'>
        Open source code from <a href="https://github.com/rbjarnason/contact">contact</a>, <a href="https://github.com/adlnet/Sandbox">sandbox</a> and the <a href="https://github.com/virtual-world-framework/vwf">virtual world framework</a>
        <br/>
        <center>Citizens Foundation 2014</center>
    </div>
</div>


</body>
</html>