<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <link rel="stylesheet" media="screen" type="text/css" href="{{root}}/vwf/view/editorview/css/bootstrap.min.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{root}}/vwf/view/editorview/css/style.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{root}}/vwf/view/editorview/css/alertify.core.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{root}}/vwf/view/editorview/css/alertify.default.css" />
	
	<style>
	</style>
	<!--[if !IE 7]>
	<style type="text/css">
	</style>
	<![endif]-->
    <title>Betri hverfi Netspjall</title>

	<script type="text/javascript" src="{{root}}/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{root}}/js/knockout-2.3.0.js"></script>
	<script type="text/javascript" src="{{root}}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{root}}/vwf/view/editorview/sha256.js"></script>
	<script type="text/javascript" src="{{root}}/js/moment.min.js"></script>
	<script type="text/javascript">var root = '{{root}}';</script>
    <script type="text/javascript" src="{{root}}/js/model.js"></script>
	<script type="text/javascript" src="{{root}}/vwfDataManager.svc/getanalytics.js"></script>
	<script type="text/javascript"> 

	</script>


</head>
<body style="">
	<div class='thinheader'>


		<a class='thinheaderlink' href='{{root}}/search'>
			{{#translate}}Worlds{{/translate}}
		</a>

		{{^sessionData}}
		<a class='thinheaderlink' href='{{root}}/signup'>
			{{#translate}}Sign up{{/translate}}
		</a>
		{{/sessionData}}
		<a class='thinheaderlink' href='{{root}}/'>
			{{#translate}}Home{{/translate}}
		</a>
	<!--	<a class='thinheaderlink' href='{{root}}/featuredWorlds/0'>
			{{#translate}}Worlds{{/translate}}
		</a> -->
		<a class='thinheaderlink' href='{{root}}/tools'>
			{{#translate}}Tools{{/translate}}
		</a>
		{{^sessionData}}
		<a id='login' class='thinheaderlink' href='{{root}}/login'>
			{{#translate}}Log in{{/translate}}
		</a>
		{{/sessionData}}
		{{#sessionData}}
		<a id='logout' class='thinheaderlink' href='{{root}}/logout'>
			{{#translate}}Log out{{/translate}}
		</a>
		{{/sessionData}}
		{{#sessionData}}
		<a class='thinheaderlink' href='{{root}}/user'>
			{{sessionData.Username}}
		</a>
		{{/sessionData}}
	</div>
	<div>

		{{{yield}}}

	</div>
	<div class='thinfooter'>
        Open source <a href="https://github.com/rbjarnason/contact">code</a> from <a href="https://github.com/adlnet/Sandbox">sandbox</a> and the <a href="https://github.com/virtual-world-framework/vwf">virtual world framework</a>
        <br/>
        <center>Citizens Foundation 2014</center>
    </div>
	<a href="https://github.com/rbjarnason/contact" id="gitBanner"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	<script type="text/javascript" src="{{root}}/vwf/view/editorview/lib/alertify.js-0.3.9/src/alertify.js"></script>
 <link rel="stylesheet" type="text/css" href="{{root}}/vwf/view/editorview/lib/alertify.js-0.3.9/themes/alertify.core.css" />
    <link rel="stylesheet" type="text/css" href="{{root}}/vwf/view/editorview/lib/alertify.js-0.3.9/themes/alertify.bootstrap.css" />
</body>
</html>